.mainmenu {
    margin: 0px;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    font-family: Old English Text MT;
    color: #262626;
    text-align: center;
    margin: 20px;
    border: 2px solid rgb(109, 109, 109);
    transition: border-color 4s ease, border-radius 4s ease;
}

.menu:hover {
    border-color: rgb(196, 0, 0);
    border-radius: 20px;
}

.menu img {
    display: block;
    margin: auto;
}

.img1 {
    width: 20%;
    height: 10%;
    transition: transform 2.2s ease;
}

.img1:hover {
    transform: scale(1.1);
}

.img2 {
    width: 7%;
    height: 7%;
    transition: transform 2s ease, filter 2s ease;
}

.img2:hover {
    filter: saturate(7467%) hue-rotate(0deg) brightness(100%) contrast(107%);
    transform: scale(1.2);
}

.chapters img {
    width: 200px;
    height: 110px;
    border-radius: 5px;
    transition: transform 1s ease, filter 1s ease;
}

.chapters img:hover {
    transform: scale(1.1);
    filter: brightness(270%)
}

.chapters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.page2 {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    margin: 20px;
    border: 1px solid rgb(255, 226, 212);
    padding: 20px 60px 60px 60px;
    transition: border-radius 2s ease;
    font-family: Old English Text MT;
    color: rgb(255, 226, 212);
}

.page2:hover {
    border-radius: 20px;
}

.page2 a {
    text-decoration: none;
}

.page2 a:link {
    color: rgb(255, 226, 212);
}
.page2 a:active {
	color: rgb(255, 226, 212);
}
.page2 a:visited {
	color: rgb(255, 226, 212);
}
.page2 a:hover {
	color: rgb(124, 93, 78);
}

.page3 {
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    margin: 20px;
    border: 1px solid rgb(236, 244, 255);
    padding: 20px 60px 60px 60px;
    transition: border-radius 2s ease;
    font-family: Old English Text MT;
    color: rgb(236, 244, 255);
}

.page3:hover {
    border-radius: 20px;
}

.page3 a {
    text-decoration: none;
}

.page3 a:link {
    color: rgb(236, 244, 255);
}
.page3 a:active {
	color: rgb(236, 244, 255);
}
.page3 a:visited {
	color: rgb(236, 244, 255);
}
.page3 a:hover {
	color: rgb(152, 172, 201);
}

.page4 {
    background-image: url(bg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
    margin: 20px;
    border: 1px solid rgb(255, 237, 237);
    padding: 20px 60px 60px 60px;
    transition: border-radius 2s ease;
    font-family: Old English Text MT;
    color: rgb(255, 237, 237);
}

.page4 ul {
    list-style: none;
}

.page4:hover {
    border-radius: 20px;
}

.page4 a {
    text-decoration: none;
}

.page4 a:link {
    color: rgb(255, 237, 237);
}
.page4 a:active {
	color: rgb(255, 237, 237);
}
.page4 a:visited {
	color: rgb(255, 237, 237);
}
.page4 a:hover {
	color: rgb(173, 125, 125);
}

.page5 {
    background-image: url(bg5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
    margin: 20px;
    border: 1px solid rgb(255, 239, 229);
    padding: 20px 60px 60px 60px;
    transition: border-radius 2s ease;
    font-family: Old English Text MT;
    color: rgb(255, 239, 229);
}

.page5 ul {
    list-style: none;
}

.page5:hover {
    border-radius: 20px;
}

.page5 a {
    text-decoration: none;
}

.page5 a:link {
    color: rgb(255, 239, 229);
}
.page5 a:active {
	color: rgb(255, 239, 229);
}
.page5 a:visited {
	color: rgb(255, 239, 229);
}
.page5 a:hover {
	color: rgb(201, 160, 135);
}

.pginicial {
    background-color: #161616;
    margin: 2%;
    border: 1px solid white;
    padding: 1% 2% 2% 2%;
    font-family: Old English Text MT;
    color: white;
    text-align: center;
}

.JeWhite {
    display: block;
    margin: auto;
    width: 7%;
    height: 7%;
    transition: transform 1s ease;
}

.JeWhite:hover {
    transform: scale(1.2);
}

.ThMiWhite {
    width: 20%;
    height: 10%;
    transition: transform 1s ease;
    display: block;
    margin: auto;
}

.ThMiWhite:hover {

    transform: scale(1.1);
}

.txtmargin {
    margin:0% 30% 0% 30%;
}

.pginicial a {
    text-decoration: none;
}

.pginicial a:link {
    color: rgb(255, 255, 255);
}
.pginicial a:active {
	color: rgb(255, 255, 255);
}
.pginicial a:visited {
	color: rgb(255, 255, 255);
}
.pginicial a:hover {
	color: rgb(107, 107, 107);
}
